<link rel="import" href="/public/elements/rave-tabs.html">
<link rel="import" href="/public/elements/rave-item-toolbar.html">
<link rel="import" href="/public/elements/rave-item-list.html">
<link rel="import" href="/public/elements/rave-item.html">
<link href="/public/css/admin.css" rel="stylesheet">


<div class="section group" id="everythingExceptMenubar">
    <rave-tabs id="raveTabs" selected='0' tabs="['Photos', 'Data', 'Something else']">
        <div id="firstTab" horizontal layout>
            <rave-item-list id="itemList" flex horizontal layout>
                <!--<% for(var i=0; i<items.length; i++) {%>
                	<li is="rave-item" itemId="<%= JSON.stringify(items[i]) %>"></li>
                <% } %>-->
            </rave-item-list>
            <rave-item-toolbar id="itemToolbar" horizontal layout></rave-item-toolbar>
        </div>
        <div id="secondTab">Two</div>
        <div id="thirdTab">Three</div>
    </rave-tabs>
</div>

<!--
Admincolor pallete: http://paletton.com/#uid=13M0u0kg2qJ6pH+b3vIlklqq+fL
-->