<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

        <meta charset="utf-8" />
        <meta name="author" content="Script Tutorials" />
        <title>Ravé</title>

        <script src="//cdnjs.cloudflare.com/ajax/libs/polymer/0.2.4/platform.js"></script>
        
        <link href="/public/css/menubar.css" rel="stylesheet">
        <link href="/public/css/main.css" rel="stylesheet">
        <link href="/public/css/12cols.css" rel="stylesheet">
        
        <link rel="import" href="/public/imports.html">
    </head>
    <body>
        <rave-menubar></rave-menubar>
        <%- body -%>
    </body>
</html>
