<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

        <meta charset="utf-8" />
        <meta name="author" content="Script Tutorials" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <title><%- title -%></title>

        <script src="bower/platform/platform.js"></script>
        
        <link href="/public/css/main.css" rel="stylesheet">
        <link href="/public/css/col.css" rel="stylesheet">
        <link href="/public/css/columnsize.css" rel="stylesheet">
        
        <script src="/public/scripts/ender.min.js"></script>
        <script src="/public/scripts/lib.js"></script>
        <link rel="import" href="/public/imports.html">
    </head>
    <body unresolved>
        <rave-menubar>
            <li class="normalSize"><a href="/">Home</a></li>
            <li class="normalSize"><a href="/werk">Werk</a></li>
            <li class="normalSize"><a href="/contact">Contact</a></li>
            <li class="phoneSize" id="phoneMenu"><a href="#s1">Menu</a>
            <span id="s1"></span>
                <ul class="subs">
                    <li><a href="/">Home</a></li>
                    <li><a href="/werk">Werk</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </li>
        </rave-menubar>
        <%- body -%>
    </body>
</html>
