<div class="section group" id="everythingExceptMenubar">
	<div class="col span_content">
	    <div is="rave-image-frame" imagesrc="https://upload.wikimedia.org/wikipedia/commons/2/2e/Douglas_A-20G_Havoc.jpg" x="90" y="50">
        </div>
	</div>
	<div class="col span_bar">
	    2 of 12
	</div>
</div>