<div class="section group" id="everythingExceptMenubar">
	<div class="col span_content">
	    <div is="rave-image-frame" imagesrc="https://lorempixel.com/g/1920/1080">
            <div class="nigga"></div>
        </div>
	</div>
	<div class="col span_bar">
	    2 of 12
	</div>
</div>