<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

        <meta charset="utf-8" />
        <meta name="author" content="Script Tutorials" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet prefetch' type='text/css'>
        <title><%- title -%></title>

        <script src="bower/platform/platform.js"></script>
        <link rel="import" href="/public/elements/rave-main.html">
    </head>
    <body fullbleed unresolved>
        <rave-main page="#home"></rave-main>
    </body>
</html>
